<div class="row">
  
  <div class="large-3 columns">

        <% @feature_product.each do |product| %>
            <%= image_tag(product.photos[0]) %>
    <%end%>
    <div class="hide-for-small panel">
      <h3>Feature Product</h3>
      <h5 class="subheader">Description.</h5>
    </div>
    <div class="callout radius">
    </div></a>
  </div>


  <div class="large-6 columns">
      <div class="large-4 small-6 columns">
        <div class="panel">
          
         <% @products.each do |product| %>
         <% if product.photos? %>
            <%= image_tag(product.photos[0]) %><br>
            <% end %>
          <%= link_to product.title, product_path(product.id) %> <br>
          <%= product.price %><br>
          <%= product.description %><br>
          <%end%>
        </div>
        
      </div>
    </div>

<div class="large-3 columns">
<h3>Category</h3>
</div>