<!-- Page Content -->
<div class="container">
  <div class="row">

    <div class="col-md-2">

      <p class="lead">Category</p>
      <div class="list-group">
        <a href="#" class="list-group-item">Category 1</a>
        <a href="#" class="list-group-item">Category 2</a>
        <a href="#" class="list-group-item">Category 3</a>
       
      </div>
    </div>
    <div class="col-md-7">

      <div class="row carousel-holder">        
        <div class="col-md-12">
          <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <img class="slide-image" src="<%= @feature_product[0].photos[0] %>" alt="">
              </div>
              <% @feature_product[1..-1].each do |product| %>
              <div class="item">
                <img class="slide-image" src="<%= product.photos[0]%>" alt="">
              </div>
              <%end%>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div> <!-- col-md-12 -->
      </div> <!-- row carousel-holder -->

      <div class="row">
        <% @products.each do |product| %>
          <div class="col-md-6">
            <div class="product_itemlist">
              
              <table class="product_table" summary="Newly Added Items">
                <tbody>
                  
                  <tr>
                    <td class="product_box">
                    <% if product.photos? %>
                      <div class="product_img"><%= image_tag(product.photos[0], width:80, height:80) %></div>
                      <ul class="product_ul">
                        <li class="product_name"><%= link_to product.title, product_path(product.id) %></li>
                        <li class="product_day">Release date: Jan-2018</li>
                        <li class="product_price" style="clear:right;"><font class="product_off">RM<%= product.price.to_int %></li>
                      </ul>
                    </td>
                </tbody>
              </table>

            </div>
          </div> <!-- col-md-6 -->
          <%end%>
        <%end%>
      </div> <!-- row -->
    </div> <!-- col-md-9 -->

    <div class="col-md-3">
      <p class="lead">Shop Name</p>
      <div class="list-group">
        <a href="#" class="list-group-item">Category 1</a>
        <a href="#" class="list-group-item">Category 2</a>
        <a href="#" class="list-group-item">Category 3</a>
      </div>
    </div>

  </div> <!-- row -->
</div> <!-- container -->