<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>





<h3>Picture:</h3>
			<% if @product.photos.each do |product| %>

				<%= image_tag product %><br>

    <% end %>
   <% end %>
<% if user_signed_in? %>
<% if current_user.role == "admin" %>
   <strong>PRODUCT ROLE:</strong> <%= @product.role %><br>
<%= link_to 'Edit', edit_product_path(@product) %>

<%end%>
<%end%>
<%= link_to 'Back', products_path %>
